<template>
  <div>
    <div class="bckg"></div>
    <section id="identify-sec">
    <div class="container d-flex flex-column justify-content-center">
      <img src="@/assets/Logo.svg" alt="Logo" class="logo">
    <div class="row justify-content-center">
      <div class="col-11 col-sm-10 col-lg-8 col-xl-6">
        <div class="containerFinal">
          <div class="row text-center">
            <h1 class="conclusionTitle">conclusão</h1>
          </div>
          <div class="row justify-content-center text-center congratsBody">
            <div class="col-11 col-sm-10 col-lg-12">
              <p class="congratsTitle">Parabéns {{this.$store.state.user.name}}</p>
              <p class="beforeGot">Você acertou</p>
              <p class="gotQuestions mb-5 col col-lg-9 m-auto">
               {{this.$store.state.user.got}} DE {{(this.$store.state.quiz.questions).length}}
              </p>
              <div class="col d-flex flex-column  align-items-center">
                <router-link class="b-start mb-3" to="/quiz">Jogar de novo</router-link>
                <a class="b-start" @click.prevent="clearState">Sair</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
import { mapState } from 'vuex';

export default {
  name: 'FinalQuiz',
  methods: {
    clearState() {
      this.$store.commit('CLEAR_USER');
      this.$store.commit('UPDATE_LOGGED');

      this.$router.push('/');
    },
    verifyLogin : function() {
        if(!this.logged) {
            this.$router.push('/makeLogin');
        }
      },
  },
  created() {
    this.verifyLogin();
  },
  computed : {
        ...mapState(['logged'])
    }  
  
}

</script>

<style lang="scss" scoped>

@import url('../assets/scss/responsive.scss');
  .container {
    height: 100vh;
  }

  .containerFinal {
    text-transform: uppercase;
    h1 {
      padding: 10px 0;
        margin: 0;
        font-size: 1.25rem;
        background-image: linear-gradient(90deg, #0a0f6d, #4e74b6);
        border-radius: 16px 16px 0 0;
        border: 3px solid black;
        border-bottom: none;
        border-top: none;
        color: #fff;
        text-transform: uppercase;
    }

    .congratsTitle, .beforeGot {
      color: #060a67;
      font-weight: 700;
      font-size: 1.25rem;
    }

    .gotQuestions {
      border: 3px solid black;
      padding: 10px 30px;
      font-size: 2.5rem;
      font-weight: 700;
      color: #060a67;
      border-radius: 8px;
    }

    .congratsBody {
        background: #fff;
        border-radius: 0px 0px 16px 16px;
        border: 3px solid black;
        border-top: none;
        padding: 40px 0;
    }

    .b-start {
      color: #fff;
      width: fit-content;
      padding: 10px 60px;
      text-decoration: none;
      border-radius: 16px;
      text-transform: uppercase;
      font-size: 1rem;
      border: none;
      background: linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );
      cursor: url('../assets/Cursor.png'),pointer;
      box-shadow: 0 0 5px #000;
      
      &:hover {  
      background: #2c408f;
      }
      @media (max-width: 575px) {
            padding: 10px 30px;
      }
    }

  }
</style>
