<template>
  <div>
    <div class="bckg"></div>
  <section id="identify-sec">
    <div class="container d-flex flex-column justify-content-center">
      <img src="@/assets/Logo.svg" alt="Logo" class="logo">
    <div class="row justify-content-center">
      <div class="col col-sm-10 col-lg-6">
        <form id="f_Identify">
          <div class="row">
            <div class="col">
              <div class="row">
                <div class="col">
                  <h1 class="identifyTitle text-center">
                    IDENTIFICAÇÃO
                  </h1>
                </div>
              </div>
              <div class="row justify-content-center container-inputs" v-bind:class="{cancelPad : loginError}">
                <div class="col col-sm-10">
                  <div class="form-group">
                    <input type="text" v-model="user.name" class="form-control" id="playerName" name="t_playerName" placeholder="Nome" required>
                  </div>
                  <div class="form-group mt-3 mb-3">
                    <input type="email" v-model="user.email" class="form-control" id="playerEmail" name="t_playerEmail" placeholder="E-Mail" required>
                  </div>
                  <div class="form-group">
                    <input type="text" v-model="user.departament" class="form-control" id="playerDepartament" name="t_playerDepartament" placeholder="Setor" required>
                  </div>
                  <div class="row">
                    <p class="loginErrorTxt mt-3 text-center" v-if="loginError">
                      Preencha todos os dados para continuar!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <div class="row justify-content-center mt-5">
            <div class="col-8 col-md-6 text-center">
              <button type="submit" @click.prevent="savePlayer">Entrar</button>
            </div>
          </div>
        </form>
        <div class="row containerQrCode d-flex justify-content-center mt-md-4 mt-2">
          <p class="orText text-center">OU JOGUE NO SEU CELULAR</p>
          <img src="@/assets/frame.png" alt="">
        </div>
      </div>
    </div>
  </div>
  </section>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'


export default {
  name: 'Home',
  data() {
    return {
      user : {
        name : '',
        email : '',
        departament : '' 
      },
      loginError:0,
    }
  },
  methods: {
    savePlayer: function() {
      if(this.user.name==''||this.user.email==''||this.user.departament=='') {
        this.loginError=1;
        return
      }
      this.$store.commit('UPDATE_USER_INFO',this.user);
      this.$store.commit('UPDATE_LOGGED');
      this.$router.push('/quiz');
    },
    clearUser() {
      this.$store.commit('RESET_LOGGED');
      this.$store.commit('RESET_QUIZ');
    },
  },
  created() {
    this.clearUser();
  }
}

</script>

<style lang="scss" scoped>

@import url('../assets/scss/responsive.scss');
  
  #identify-sec {
    color: #fff;
    padding-bottom: 80px;
    

    .container {
      height: 100vh;
    }
    
    .noteMusic {
      position: absolute;
      width: 50px;
    }

    .ntM2 {
      margin-top: 150px;
      margin-left: 200px;
    }

    .ntM1 {
      margin-top: -250px;
      margin-left: 1000px;

      
    }

    .identifyTitle {
        padding: 10px 0;
        margin: 0;
        font-size: 1.25rem;
        background-image: linear-gradient(90deg, #0a0f6d, #4e74b6);
        border-radius: 16px 16px 0 0;
        border: 2px solid black;
        border-bottom: none;
        border-top: none;
        color: #fff;
      }

    form {
      @media (max-height: 845px)  {
        margin-top: 200px;
        padding-bottom: 30px;
      }  
      
      @media (max-height: 600px)  {
        margin-top: 350px;
        padding-bottom: 30px;
      }  

      .container-inputs {
        margin: 0;
        padding: 0;
        background: #fff;
        border-radius: 0px 0px 16px 16px;
        padding: 50px 0;
        border: 3px solid black;
        border-top: none;
      }

      .cancelPad {
        padding: 50px 0 15px 0;
      }

      input {
        padding: 10px 15px;
        border: 3px solid black;
        border-radius: 8px;
        font-size: 1.25rem;

        &::placeholder {
          text-transform: uppercase;
        }
      }

      button {
        color: #fff;
        padding: 10px 60px;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: 1rem;
        border: none;
        background: linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );
        cursor: url('../assets/Cursor.png'),pointer;
        box-shadow: 0 0 5px #000;
        &:hover {  
          background: #2c408f;
        }
      }

      .loginErrorTxt {
        color: red;
        font-size: 1rem;
        font-weight: 700;
        font-size: 1.15rem;
      }
    }  
    .containerQrCode {
      .orText {
        color: #fff;
      }
        img {
          width: 150px;
          border-radius: 5px;
          filter: drop-shadow( 0 0 5px rgba(0,0,0,0.5));
        }
      }  
  }
</style>
