<template>
    <div>
        <div class="bckg"></div>
        <section id="quizStart-sec">
        <div class="container d-flex flex-column justify-content-center">
            <div class="row justify-content-center">
                <div class="col col-sm-10 col-lg-6 text-center">
                    <h1 class="quizTitle mb-5">Cadastre-se para poder jogar!</h1>
                    <router-link class="b-start" to="/">Me cadastrar</router-link>
                </div>
            </div>
        </div>
    </section>
    </div>
</template>

<script>

export default ({
    name: 'Quiz',
    methods: {
        redirectLogin() {
            setTimeout(()=>{
                this.$router.push('/');  
            },5000)
        }
    },
    created() {
        this.redirectLogin();
    }
    
})
</script>



<style lang="scss" scoped>
    #quizStart-sec {
        .container {
            height: 100vh;
        }

        .quizTitle {
            text-transform: uppercase;
            font-size: 1.8rem;
            color: #080d6b;
            background: #fff;
            font-weight: 700;
            padding: 15px 5px;
            border: 4px solid #000;
            border-radius: 8px;
        }

        .b-start {
            color: #fff;
            padding: 10px 60px;
            text-decoration: none;
            border-radius: 16px;
            text-transform: uppercase;
            font-size: 1rem;
            border: none;
            background: linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );
            cursor: url('../assets/Cursor.png'),pointer;
            box-shadow: 0 0 5px #000;
            &:hover {  
            background: #2c408f;
            }
        }
    }
</style>