<template>
    <div>
        <div class="bckg"></div>
        <section id="QuizQuestion-sec" v-if="!showingResults">
            <div class="container d-flex flex-column justify-content-center">
                <img src="@/assets/Logo.svg" alt="Logo" class="logo">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-12 col-md-10 col-lg-10 col-xl-8" v-if="!processing">
                        <form action="">
                            <div class="row">
                                
                                <p class="questionTitle">{{questions[current-1].description}}</p>
                                
                            </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-6 d-flex align-items-stretch" v-for="(alternative, index) in questions[current-1].alternatives" :key="index">
                                    <button v-bind:class="{select : selected==(questions[current-1].alternatives[index].id)}" class="formAlternative"  @click.prevent="queryAlternative(questions[current-1].alternatives[index].id)">                            
                                        {{questions[current-1].alternatives[index].description}}                            
                                    </button>
                                </div>                    
                            </div>
                            <div class="row justify-content-end">
                                <button type="submit" class="b-next mt-5" @click.prevent="queryQuestion">Conferir resultado <img src="@/assets/next.png" alt="nextIcon" class="arrowNext"></button>     
                            </div>                       
                        </form>
                    
                    </div>
                    <div class="loader text-center" v-if="processing">
                        <div class="carregando d-flex flex-column justify-content-center align-items-center"></div>
                        <p class="textLoading">Enviando respostas</p>
                    </div>
                </div>
            </div>
        </section>
        <section id="resultQuestion" v-if="showingResults && !processing">
            <div class="container d-flex flex-column justify-content-center">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-12 col-md-10 col-lg-10 col-xl-8">
                        <form action="">
                            <div class="row">
                                
                                <p class="questionResult correctQTitle" v-if="correct">Você acertou!</p>
                                <p class="questionResult wrongQTitle" v-if="!correct">Você errou!</p>
                                
                            </div>
                            <div class="row">
                                
                                <p class="questionTitle">{{questions[current-1].description}}</p>
                                
                            </div>
                            <div class="row justify-content-center text-center">
                                <div class="col-6 d-flex align-items-stretch" v-for="(alternative, index) in questions[current-1].alternatives" :key="index">
                                    <button :class="{qCorrect :questions[current-1].alternatives[index].correct == 1}" class="formAlternative"  @click.prevent="queryAlternative(questions[current-1].alternatives[index].id)">                            
                                        {{questions[current-1].alternatives[index].description}}                            
                                    </button>
                                </div>                    
                            </div>
                            <div class="row justify-content-end">
                                <button type="submit" class="b-next mt-5" @click.prevent="nextQuestion">Próxima <img src="@/assets/next.png" alt="nextIcon" class="arrowNext"></button>     
                            </div>                       
                        </form>
                    
                    </div>
                    <div class="loader text-center" v-if="processing">
                        <div class="carregando d-flex flex-column justify-content-center align-items-center"></div>
                        <p class="textLoading">Enviando respostas</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import {api} from '@/services.js';
export default {
    name: 'Question',
    data() {
        return {
            questions: [
                {
                    "title": "",
                    "alternatives": [],
                }
            ],
            current: 1,
            selected: 0,
            time: 0,
            formatedTime:'',
            running:1,
            processing : 0,
            showingResults: 0,
            correct:0
        }
    },
    methods: {
        verifyLogin : function() {
            if(!this.logged) {
                this.$router.push('/makeLogin');
            }
        },
        getQuestions()  {
            
            this.questions = this.$store.state.quiz.questions;
            
            this.timer(1);
            // this.$store.state.user.id
        },
        queryAlternative(alternative) {
            this.selected = alternative;
            
        },
        async nextQuestion() {
            var _vn= this;
            this.time = 0;
            this.running = !this.running;
            this.showingResults = false;

            if((_vn.current+1)<=_vn.questions.length) {
                _vn.current++;
                this.selected = 0;
            }
            else {
                this.processing = 1;
                await this.saveAll(); // Save User and after save results
                _vn.$router.push('/quiz/final');
            }
        },
        async queryQuestion() {

            if(this.selected == 0){ alert('selecione ao menos uma alternativa');return }

            this.storeQuestion();

            this.running = !this.running;

            this.showingResults = true;

            
        },
        timer : function() {
            if(this.running==1) {
                setInterval(()=>{
                    this.time++;
                    this.formatedTime = this.formatTime(this.time);
                },10)
            }
        },
        formatTime : function(t) {
            let mil
            let sec
            let min
            let hr
            mil = this.place(t%100)
            sec = this.place(parseInt(t/100)%60)
            // min = this.place(parseInt(t/6000)%100)
            min = this.place(parseInt(t/6000)%60)
            hr = this.place(parseInt(t/360000))
            return hr + ':' + min + ':' + sec + ':' + mil
        },
        place: function(n) {
            return n < 10 ? '0' + n : n
        },
        storeQuestion : function() {
            var question = {}
            var alternativesUpdated = [];

            question.question_id = this.questions[this.current-1].id;
            question.alternative_id = this.selected;
            question.time = this.formatedTime;
            
            this.current != 1 ? alternativesUpdated = this.$store.state.user.results : alternativesUpdated = [];

            
            for(var i=0;i<this.questions[this.current-1].alternatives.length;i++) {
                if(this.questions[this.current-1].alternatives[i].id == this.selected){
                    this.questions[this.current-1].alternatives[i].correct == 1 ? this.correct = 1 : this.correct = 0;
                   break; 
                }
            }

            
        
            this.time = 0;
            
            // this.current == 1 ? question.time = this.time : question.time = this.time - this.$store.state.user.results[this.current-2].time;
            alternativesUpdated.push(question);
            
            this.$store.commit('UPDATE_USER_QUESTIONS',{
                results : alternativesUpdated
            });
        },
        async saveAll() {

            var user = {};
            user.name = this.$store.state.user.name;
            user.email = this.$store.state.user.email;
            user.departament = this.$store.state.user.departament;
            user.campaign_id = this.$store.state.quiz.campaign.id;

            await api.post('/players',user).then((res) => {
                this.$store.commit('UPDATE_USER_ID',{
                    user_id : res.data.user_id
                });
            })

            var awnser = {};   
            awnser.campaign_id = this.$store.state.quiz.campaign.id;
            awnser.user_id = this.$store.state.user.id;
            awnser.results = this.$store.state.user.results;            
                
            await api.post('/result',awnser).then((response)=> {
                this.$store.commit('UPDATE_GOT',{
                    got : response.data.correctNumbers
                });
            }) // result
        }     
    },
    created() {
        this.verifyLogin();
        this.getQuestions();
    },
    watch : {
        running() {
            this.timer();
        }
    },
    computed : {
        ...mapState(['logged'])
    }  
    
}
</script>


<style lang="scss" scoped>
    

        .container {
            height: 100vh;
        }

        .questionTitle {
            font-size: 1.5rem;
            background: #fff;
            padding: 20px 45px;
            border-radius: 8px;
            border: 4px solid black;
        }

        .formAlternative {
            background: #fff;
            padding: 20px 45px;
            border-radius: 8px;
            border: 4px solid black;
            margin-bottom: 15px;
            width: 100%;

            @media (max-width: 575px) {
                padding: 10px 0px;
            }

            
        }

        button {
          padding: 8px 50px;
          width: fit-content;
          cursor: url('../assets/Cursor.png'),pointer !important;
          transition: .2s;
          &:hover {
              filter: brightness(.9);
          }
        }

        .b-next {
            background: #fff;
            border-radius:16px ;
            border:3px solid black;
            padding: 5px 20px;
            font-size: 1.25rem;
            img {
                width: 100%;
                max-width: 15px;
                margin-left: 8px;
            }
        }

        .select {
            color: #fff;
            background: linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );
           
            box-shadow: 0 0 5px #000;
        }

        .carregando {
            margin: auto;
            margin-top: -100px;
            border: 20px solid linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );;
            border-radius: 50%;
            width: 250px;
            height: 250px;
            border-left: 20px solid #681980;
            border-right: 20px solid #681980;
            animation: loading 3s infinite linear;
            box-shadow: 0 0 10px #000 inset;
        }

        .textLoading {
            font-size: 1.25rem;
            color: #fff;
            margin-top: -140px;
            position: relative;
        }

        @keyframes loading {
            0% { transform: rotate(0deg) ; }
            100% { transform: rotate(360deg); }
        }

        .qCorrect {
            color: #000000;
            background: #09ff00;
            font-weight: 700;
        }


        .questionResult {
            font-size: 2rem;
            border: 3px solid black;
            border-radius: 8px;
            padding: 10px 0;
            text-align: center;
            font-weight: 700;
        }

        .correctQTitle {
            color: #000000;
            background: #09ff00;
        }

        .wrongQTitle {
            color: #ffffff;
            background: #ff0000;
        }
    
</style>