<template>
    <div>
        <div class="bckg"></div>
        <section id="quizStart-sec">
            <div class="container d-flex flex-column justify-content-center">
                <img src="@/assets/Logo.svg" alt="Logo" class="logo">
                <div class="row justify-content-center">
                    <div class="col col-sm-10 col-lg-6 text-center" v-if="!errorOnLoad">
                        <div v-if="loaded">
                            <h1 class="quizTitle mb-5">{{this.$store.state.quiz.campaign.name}}</h1>
                            <router-link class="b-start" to="/quiz/questions">Start</router-link>
                        </div>

                         <div class="loader text-center" v-if="!loaded">
                            <div class="carregando d-flex flex-column justify-content-center align-items-center"></div>
                            <p class="textLoading">Carregando</p>
                        </div>
                    </div>
                    <div class="col col-sm-10 col-lg-6 text-center" v-if="errorOnLoad">
                        <div v-if="loaded">
                            <h1 class="quizTitle mb-5">Não há quizz disponível no momento</h1>
                            <router-link class="b-start" to="/">Sair</router-link>
                        </div>

                         <div class="loader text-center" v-if="!loaded">
                            <div class="carregando d-flex flex-column justify-content-center align-items-center"></div>
                            <p class="textLoading">Carregando</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
</template>

<script>

import { mapState } from 'vuex';

export default ({
    name: 'Quiz',
    data() {
        return {
            loaded : false,
            errorOnLoad: false
        }
    },
    methods: {
        verifyLogin : function() {
            if(!this.logged) {
                this.$router.push('/makeLogin');
            }
            this.$store.commit('UPDATE_GOT','reset');
        },
        async getQuestions()  {
           
            await this.$store.dispatch('getQuestions').then(res => {
                console.log(res);
                if(res == 'ok') {
                    this.loaded = true
                }
                else {
                    this.errorOnLoad = true
                    this.loaded = true
                }                    
            })
            
        },
    },
    created() {
        this.verifyLogin();
        this.getQuestions();
    },
    computed : {
        ...mapState(['logged'])
    }    
    
})
</script>



<style lang="scss" scoped>
    #quizStart-sec {
        .container {
            height: 100vh;
        }

        .quizTitle {
            text-transform: uppercase;
            font-size: 1.8rem;
            color: #080d6b;
            background: #fff;
            font-weight: 700;
            padding: 15px 5px;
            border: 4px solid #000;
            border-radius: 8px;
        }

        .b-start {
            color: #fff;
            padding: 10px 60px;
            text-decoration: none;
            border-radius: 16px;
            text-transform: uppercase;
            font-size: 1rem;
            border: none;
            background: linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );
            cursor: url('../assets/Cursor.png'),pointer;
            box-shadow: 0 0 5px #000;
            &:hover {  
            background: #2c408f;
            }
        }

        .carregando {
            margin: auto;
            margin-top: -100px;
            border: 20px solid linear-gradient(60deg, #2c408f, #060a67,#060a67,#060a67, #2c408f );;
            border-radius: 50%;
            width: 200px;
            height: 200px;
            border-left: 20px solid #681980;
            border-right: 20px solid #681980;
            animation: loading 3s infinite linear;
            box-shadow: 0 0 5px #000 inset;
        }

        .textLoading {
            font-size: 1.25rem;
            color: #fff;
            margin-top: -120px;
        }

        @keyframes loading {
            0% { transform: rotate(0deg) ; }
            100% { transform: rotate(360deg); }
        }
    }
</style>