<template>
  <div id="app">
    <router-view/>
  </div>
</template>



<style lang="scss">

*, button, a, nav-link {
  cursor: url('assets/Cursor.png'),pointer;
}

.bckg {
  background: url('./assets/background.png');
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.logo {
  width: 300px;
  position: absolute;
  top: 0;

  @media (max-width: 991px) {
    left:-1px;
  }
}

</style>
